body {
	background-color: #C4E1FA;
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 3%;
	padding-bottom: 10%;
}

.center {
	text-align: center;
}

#indexHeader {
	border-style: double;
	border-color: #D4AAFF;
	padding-top: 1%;
	padding-bottom: 1%;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.copperplate {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}